{% extends 'manager/report_base.html' %}

{% block content %}
<div class="container" style="width: 100%">
	<h1>{{ report.situation }}による通報</h1>
	<i><p>通報時刻：{{ report.time }}</p></i>
	<table class="table">
		<tr>
			<th>名前</th>
			<td>{{ report.name }}</td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td>{{ report.phone }}</td>
		</tr>
		<tr>
			<th>住所</th>
			<td>{{ report.address }}</td>
		</tr>
		<tr>
			<th>詳細</th>
			<td>{{ report.details }}</td>
		</tr>
	</table>
</div>

<div class="container">
	{% if report.status == 0 %}
	<button type = "button" class = "btn btn-success">完了</button>
	{% else %}
	<button type = "button" class = "btn btn-success" disabled>完了済</button>
	{% endif %}
	<button type = "button" class = "btn btn-danger">削除</button>
</div>


<div class="container" style="position: fixed; bottom: 0;">
	<a href="/"><h1>◀ 通報一覧へ戻る</h1></a>
</div>
{% endblock %}


{% block map %}
<div id='map' style='width: 100%; height: 100vh;'></div>
	<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoiYWx2aWthemkiLCJhIjoiY2s1M3pweHRkMGUzYjNrbWd2bThvZ21uYiJ9.HJbgOgd1eM_TrfSzhpm3fg';
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v10',
			center: [{{ report.lng }}, {{ report.lat }}],
			zoom: 14
		});
		
		map.addControl(new MapboxLanguage({
			defaultLanguage: 'ja'
		}));

		var popup = new mapboxgl.Popup({ closeOnClick: false })
			.setLngLat([{{ report.lng }}, {{ report.lat }}])
			.setHTML('<h3> {{ report.situation }} </h3><p style="color: #333;"> {{ report.details }} </p><p style="color: #333;"><i> {{ report.time }} </i></p>')
			.addTo(map);

		map.on('load', function () {
			map.resize();
		});
	</script>
{% endblock %}